.dayWeatherBox {
  text-align: left;
  padding: 10px;
  text-align: center;
  position: relative;
  height: 205px;
  width: 150px;

  &:hover {
    border: 2px solid lightgrey;
  }

  .div {
    position: absolute;
    top: 0;
    left: -2px;
  }

  .symbol {
    width: 40px;
    height: 40px;
    margin: 15px 0;
  }

  .temperature {
    padding-bottom: 5px;
  }
}
