.city {
    width: 100%;
    border-top: 5px solid white;
    min-height: 10vh;
    display: flex;
}

.city_activ {
    width: 100%;
    border-top: 5px solid white;
    min-height: 10vh;
    display: flex;
    background-color: rgb(255, 236, 175);
}

.city_activ:hover {
    background-color: rgb(255, 231, 151);
}

.city:hover {
    background-color: #54f0f059;
}

.title, .temperature {
    margin-left: 5%;
    padding: 6px;
    font-size: 22pt;
    display: flex;
    align-items: center;
}

.title {
    width: 40%;
    overflow: hidden;
}

.temperature {
    width: 50%;
    display: flex;
    justify-content: center;
}

.temperature img {
    margin: 0 7%;
    width: 62px;
}