.container {
    display: flex;
}

.weatherIcon {
    width: 142px;
    height: 142px;
    object-fit: cover;
    margin-top: 46px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherItem {
    margin-bottom: 10px;
}

.city {
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
}

.temperature {
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
}

.weatherConditions {
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
}


