@import '../../../global-styles/colors';
@import '../../../global-styles/mixins';

.temperature {
  text-align: center;
  .currentTemperature {
    font-size: 9rem;
    font-weight: 700;
    margin: 3rem auto;
    color: $darkerBlue;
  }
  .feelsLike {
    margin: 0;
    text-align: center;
  }
}
.container {
  @include flex(row, center);
  .innerContainer {
    margin: 0 2.2rem;
    font-size: 1.1rem;
    .symbol {
      width: 170px;
      height: 170px;
    }
    .label,
    .value {
      margin: 0;
      font-size: 0.9rem;
    }
    .value {
      font-size: 1.3rem;
      margin-bottom: 0.7rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
