@import '../../../global-styles/colors';

.container {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
  height: 3rem;
  .input {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    border: 1px solid $borders;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: $transparentWhite;
    &.dark {
      background-color: $transparentBlack;
      border: 1px solid $transparentBlack;
      color: $lightBlue;
    }
  }
}
