.currentLocation {
  .title {
    color: var(--additional-text-collor);
  }

  .value {
    text-decoration: none;
    color: var(--link-color);
    border-bottom: 1px dashed var(--link-color);
    padding-bottom: 1px;
    margin-left: 5px;
  }
}
