.currentLocation {
  .title {
    color: #aaaaaa;
  }

  .value {
    display: inline-block;
    text-decoration: none;
    color: #00b2ff;
    border-bottom: 1px dashed #00b2ff;
    padding-bottom: 1px;
    margin-left: 5px;
  }
}
