@import '../../../global-styles/colors';
@import '../../../global-styles/mixins';

.container {
  .innerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.2rem 0;
    border-bottom: 1px solid $borders;
    &:last-of-type {
      border-bottom: none;
    }
    .time {
      width: 20%;
    }
    .symbol {
      width: 25%;
      text-align: center;
      .symbolImage {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .temperature {
      width: 25%;
      text-align: center;
    }
    .precipProb {
      width: 30%;
      @include flex(row, center);
    }
  }
}
