.container {
  box-sizing: border-box;
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 102px;
}

.navAndThemeSwitcher {
  display: flex;
}
