.cityCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: auto;
  margin-top: 8px;
  padding: 16px;
  width: 40%;
  min-width: 280px;
  height: 30%;

  border: 3px solid var(--color-canvas-primary);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cityCardInfo {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  font-size: 20px;

  color: var(--color-text-secondary);
}

.cityCardInfo div {
  padding: 4px;
}

.cityCardInfo div span {
  font-size: 16px;
}
