@import  '../../common/variables.scss';

.list {
    // display: none;
    margin: 0;
    list-style-type: none;
    position: fixed;
    top: 100px;
    left: 0;
    padding: 0 10px;
    background-color: $primary; 
    height: auto;
    width: 15%;   
    overflow-y: scroll; 
    max-height: calc(100vh - 200px);
    box-sizing: content-box;
}

.list-item {
    display: flex;
    padding: 10% 0;
    text-align: center;
    justify-content: center;
}

.searchbox { 
    min-width:50px;
}