@import '../../common/variables.scss';

.list {
  margin: 0;
  list-style-type: none;
  position: fixed;
  top: $header-height;
  left: 0;
  padding: 0 0.5em;
  background-color: $filterable-list-background-color;
  height: auto;
  width: $filterable-list-width;
  overflow-y: auto;
  height: $filterable-list-height;
  box-sizing: content-box;
}

.listItem {
  display: flex;
  padding: 1em 0;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
}

.searchBox {
  min-width: 3em;
  text-transform: lowercase;
}
