:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 18px;

  --dark-font-color: #333333;
  --light-font-color: #ffffff;

  --primary-bg-color: #f0f5ff;
  --secondary-bg-color: #5171b0;
}
