$lighten-blue: var(--lighten-blue);
$blue: var(--blue);
$black: var(--black);
$white: var(--white);
$grey: #9eaed1;
$yellow: #ffd158;
$lilac: #bacbf3;
$darken-blue: #5171b0;
$lighten-black: #1f2e4a;

$transparent-darken-blue: rgba($darken-blue, 0.5);

$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-size-xl: 114px;

$font-weight-normal: 400;
$font-weight-bold: 600;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
$font-size: $font-size-sm;

$secondary-font-color: var(--secondary-font-color);
$primary-font-color: var(--primary-font-color);

$primary-bg-color: var(--primary-bg-color);
$secondary-bg-color: var(--secondary-bg-color);

$chart-bg-color: var(--chart-bg-color);
$city-bg-color: var(--city-bg-color);

$light-btn-bg-color: $yellow;
$dark-btn-bg-color: $blue;

$arrow-btn-color: var(--arrow-btn-color);
$hover-arrow-btn-color: var(--hover-arrow-btn-color);

$default-transition-delay: 0.6s;
$default-box-shadow: rgba($darken-blue, 0.2) 0px 7px 29px 0px;
$scroll-box-shadow: inset 0 0 6px rgba($black, 0.3);
