:root {
  --lighten-blue: #f0f5ff;
  --blue: #5171b0;
  --black: #333333;
  --white: #ffffff;
  --darken-gray: #161b22;
}

.light-theme {
  --primary-font-color: var(--black);
  --secondary-font-color: var(--white);
  --primary-bg-color: var(--lighten-blue);
  --secondary-bg-color: var(--blue);
  --chart-bg-color: var(--lighten-blue);
}

.dark-theme {
  --primary-font-color: var(--white);
  --secondary-font-color: var(--white);
  --primary-bg-color: var(--black);
  --secondary-bg-color: var(--darken-gray);
  --chart-bg-color: var(--darken-gray);
}
