@import '../../../Styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 2rem;

  .title-wrapper {
    margin: auto;
    width: 100rem;

    .title,
    .subtitle {
      text-align: center;
    }
    .subtitle {
      width: 60%;
      margin: auto;
    }
  }

  .form {
    outline: 1px solid red;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    margin: auto;
    border-radius: 5px;
    width: 40rem;
    gap: 1.5rem;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1.2rem;

    .inputContainer {
      display: flex;
      flex-flow: column nowrap;
    }

    label {
      text-indent: 5px;
    }

    input[type='text'],
    input[type='email'] {
      height: 3rem;
      text-indent: 3px;
      border: 1px solid #444;
      border-radius: 5px;
    }

    input[type='checkbox'],
    input[type='radio'] {
      margin-right: 7.5px;
    }

    .fieldset-group {
      display: block;
    }

    textarea {
      text-indent: 5px;
      border: 1px solid #444;
      border-radius: 5px;
    }

    .btn {
      width: fit-content;
      margin: auto;
      margin-top: 2rem;
      align-items: center;
      appearance: none;
      background-color: $color-1L;
      background-size: calc(100% + 2rem) calc(100% + 2rem);
      border-radius: 10rem;
      border-width: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-flex;
      font-weight: 500;
      font-size: $default-font-size;
      height: auto;
      justify-content: center;
      line-height: 1.5;
      padding: 6px 2rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.2s, background-position 0.2s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: top;
      white-space: nowrap;

      &:active,
      &:focus {
        outline: none;
      }

      &:hover {
        background-color: lighten($color: $color-1L, $amount: 10%);
      }

      &:focus:not(:active) {
        box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
      }
    }
  }
}
