@import '../../../Styles/variables.scss';
@import '../../../Styles/mixins.scss';

.dark-theme,
.light-theme {
  display: flex;
  flex-direction: row-reverse;
  transition: ease-in 0.2s;

  .search {
    width: 20%;
    display: flex;

    &-bar {
      width: 100%;
      border: none;
      padding: 5px;
      border-radius: 5px 0 0 5px;
      outline: none;
    }

    &-icon {
      height: 100%;
      display: flex;
      justify-content: center;
      border: none;
      text-align: center;
      align-items: center;
      width: 4rem;
      background: $color-1L;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
  }
}

@include SearchBar(dark-theme, $color-5L, $color-7D, $color-5D);
@include SearchBar(light-theme, $color-5L, $color-1L, $color-5D);
