* {
  margin: 0;
  padding: 0;
  color: white;
}

:root,
[data-theme='dark'] {
  --navlink-color: white;
  --theme-sweetcher-text-color: white;
  --header-bg-color: black;
  --search-bar-bg-color: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.8) 28.13%,
    rgba(0, 0, 0, 0.42) 60.94%,
    rgba(0, 0, 0, 0.1) 100%
  );
  --search-bar-input-text-color: white;
  --search-bar-input-placeholder-text-color: white;
  --cities-bg-color: #2d1149;
}

[data-theme='light'] {
  --navlink-color: black;
  --theme-sweetcher-text-color: black;
  --header-bg-color: white;
  --search-bar-bg-color: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.8) 28.13%,
    rgba(0, 0, 0, 0.42) 60.94%,
    rgba(0, 0, 0, 0.1) 100%
  );
  --search-bar-input-text-color: black;
  --search-bar-input-placeholder-text-color: black;
  --cities-bg-color: #2d1149;
}
