* {
  margin: 0;
  padding: 0;
  color: white;
}

:root {
  --font-size-xs: 26px;
  --font-size-s: 28px;
  --font-size-m: 32px;
  --font-size-l: 42px;
  --font-size-xl: 68px;
}

[data-theme='dark'] {
  --search-bar-bg-color: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.8) 28.13%,
    rgba(0, 0, 0, 0.42) 60.94%,
    rgba(0, 0, 0, 0.1) 100%
  );
  --search-bar-input-text-color: white;
  --search-bar-input-placeholder-text-color: white;
  --cities-bg-color: #2d1149;
  --city-hover-bg-color: #5900a3;
  --daily-forecast-text-color: white;

  --slider-left-arrow-bg-image: url('../public//images/lightLeftArrow.png');
  --sliderright-arrow-bg-image: url('../public//images/lightRightArrow.png');
}

[data-theme='light'] {
  --search-bar-bg-color: linear-gradient(180deg, #79b6fe 0%, rgba(64, 48, 255, 0) 100%);
  --search-bar-input-text-color: white;
  --search-bar-input-placeholder-text-color: white;
  --cities-bg-color: #54d6ff;
  --city-hover-bg-color: #12bad1;
  --daily-forecast-text-color: black;

  --slider-left-arrow-bg-image: url('../public//images/darkLeftArrow.png');
  --sliderright-arrow-bg-image: url('../public//images/darkRightArrow.png');
}
