* {
  padding: 0;
  margin: 0;
}

:root {
  --black: black;
  --white: white;
  --background: rgb(41, 41, 41);
}

.main {
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
}
.dark {
  background-color: var(--background);
  color: var(--white);
}

p {
  margin-bottom: 16px;
}

.form {
  margin-bottom: 20px;
}

a {
  color: inherit;
}
