* {
  padding: 0;
  margin: 0;
}
.main {
  background-color: white;
  color: black;
  min-height: 100vh;
}
.dark {
  background-color: rgb(41, 41, 41);
  color: white;
}

.ThemeToggler {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.ThemeTogglerButton {
  outline: none;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: rgb(167, 167, 167);
  padding: 12px;
  cursor: pointer;
  transition: 180ms;
}

.dark .ThemeTogglerButton {
  background-color: rgb(0, 0, 0);
}

p {
  margin-bottom: 16px;
}

.form {
  margin-bottom: 20px;
}

.input-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.input-element label {
  margin-bottom: 12px;
}

.input-element input {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  height: 26px;
  border-radius: 4px;
  padding: 4px 4px 4px 10px;
  outline: 1px solid black;
  color: rgb(0, 0, 0);
}

textarea {
  width: 100%;
  border: none;
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 4px 4px 4px 10px;
  outline: 1px solid black;
  color: rgb(0, 0, 0);
}

.dark .input-element input {
  border: none;
  margin-bottom: 10px;
  height: 26px;
  border-radius: 4px;
  padding: 4px 4px 4px 10px;
  background-color: rgb(255, 255, 255);
}

.button {
  padding: 12px 28px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
}
