# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage

# Logs
*.log

#env
.env

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json
client/build/bundle.js
client/build/index.html
client/build*
client/build/*
# Editor/IDE
.idea
packages/api/etc/