.title {
    padding: 20px;
    font-size: 3rem;
    font-weight: 600;
}
.notFound{
    padding-top: 80px;
}
.textBox {
    height: 300px;
    padding: 10px 30px 30px;

    p {
        padding: 20px 0;
    }

    .buttonBox {
        margin-top: 50px;
    }
}