@import '../../../../../../assets/styles/constants.scss';

.locationItem {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .locationItemLink {
    text-decoration: none;
    .locationName {
      color: $link-color;
    }
    .locationArea {
      color: $additional-text-collor;
      font-size: 10px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  &:hover {
    background-color: $hover-item-color;
  }

  .favoriteBtn {
    display: inline-block;
    background-color: transparent;
    border: 0;
    width: 13px;
    height: 10px;
    position: relative;
    cursor: pointer;

    svg {
      position: absolute;
      left: 0;
      top: 0;
    }

    &.active {
      path {
        fill: $color-primary-accent;
      }
    }
  }
}
