@import '../../scss';

.card {
  &_header {
    .flexContainer {
      @include flex(center, flex-start);

      .symbol {
        width: 100px;
      }
    }

    &__title {
      @include primaryTitle;
      margin-right: 20px;
    }

    &__description {
      margin-top: 10px;
      @include secondaryTitle;
      color: var(#{--text-color-secondary-default});
    }
  }
}

@include media('max', 'md') {
  .card {
    &_header {
      .flexContainer {
        .symbol {
          width: 80px;
        }
      }

      &__title {
        @include primaryTitle('md');
      }

      &__description {
        @include secondaryTitle('md');
      }
    }
  }
}
