@import '../../../../global-styles/colors';
@import '../../../../global-styles/mixins';

.container {
  margin: 0 auto;
  background-color: white;
  height: 30vh;
  overflow-y: scroll;
  @include borderShadows(2px, 2px, 5px, $borders);
  border-radius: 0.5rem;
  padding: 0;
  position: relative;
  top: 0;
  z-index: 2;
  .list {
    width: 100%;
    &:hover {
      background-color: $yellow;
    }
    .li {
      text-align: left;
      list-style: none;
      padding: 1rem 2rem;
      margin: 0 2rem;
      cursor: pointer;
      border-bottom: 1px solid $borders;
    }
  }
  &.dark {
    background-color: $veryDarkBlue;
    .list:hover {
      color: black;
    }
  }
}
