.head {
    width: 80%;
    height: 60px;
    background-color: rgb(255, 202, 55);
    float: left;
    display: flex;
    align-items: center;
}

.head div {
    margin:0 10px 0 40px;
    border-radius: 50%;
    border: 2px solid rgb(196, 127, 0);
    background-color: white;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head img {
    height: 35px;
}

.head span {
    color: rgb(40, 51, 68);
    font-size: 20pt;
    font-weight: 600;
}

