.navigation {
  display: flex;
  list-style: none;

  .navItem {
    .link {
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--main-font-color);

      &:hover {
        color: var(--link-color);
      }
    }
  }
}
