
.main {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 60px;
}

.mainLigth {
  background-color: whitesmoke;
  color: rgb(33, 33, 33);
}

.mainDark {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
}
