$lightestBlue: #f2fafd;
$lightBlue: #bfecff;
$darkBlue: #245f76;
$darkerBlue: #195269;
$veryDarkBlue: #0b242e;
$rainColor: #63b3d7;
$pink: #fe0089;
$yellow: #fedc00;
$darkYellow: #fdc435;
$borders: #245f763b;
$transparentWhite: rgba(255, 255, 255, 0.3);
$transparentBlack: rgba(0, 0, 0, 0.2);
