@import './colors';

@mixin flex($dir, $justify) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
}

@mixin borderShadows($h, $v, $blur, $color) {
  border: 1px solid $color;
  box-shadow: $h $v $blur 0px $color;
}
