form {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 8px;

  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--color-text-primary);
}

form h2 {
  padding: 4px;

  text-align: center;
  font-size: 20px;
  font-weight: bold;

  color: var(--color-text-secondary);
}

.titleSecondary {
  margin-bottom: 16px;
}

.formControl {
  margin-bottom: 25px;
  text-align: left;
}

.formControl label {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;

  color: var(--color-text-secondary);
}

.formControl input,
.formControl select,
.formControl textarea {
  display: block;
  width: 100%;
  padding: 10px;

  border: 1px solid var(--color-text-tertiary);
  border-radius: 2px;
  font-family: inherit;
}

button {
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;

  border: 1px solid var(--color-text-tertiary);
  border-radius: 2px;

  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);

  font-family: inherit;
  font-size: 21px;
}

button:hover {
  cursor: pointer;
}
