.input {
  &__search {
    padding: $padding-default;
    padding-left: $padding-big;
    border-radius: $border-radius-default;
    border: none;

    background-color: $primary-color;
    background-image: $background-image-search;
    background-repeat: no-repeat;
    background-size: $background-size-default;
    background-position: $background-position-default;

    width: inherit;

    &::placeholder {
      color: $font-color;
    }

    &:focus {
      outline: none;
    }
  }
}
