.todays__card{
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #fff;

  &__title{
    margin-bottom: 1rem;
  }

  &__img{
    width: 80px;
    margin-bottom: 1rem;
  }
}