@import '../../scss';

.form {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  background-color: $card-bg;
  border-radius: 10px;
  text-align: left;

  .form-field {
    @include description;

    label {
      position: relative;
    }

    label::after {
      content: '*';
      color: var(#{--color-danger-default});
      position: absolute;
      right: -10px;
      top: 0;
    }

    .error {
      color: var(#{--color-danger-default});
      font-size: 1rem;
    }

    .input,
    .textarea {
      width: 100%;
      margin: 5px 0 20px 0;
      padding: 10px;
      font-weight: $weight-regular;
      font-size: 1rem;
      border-radius: 5px;
      outline: none;
    }
    
    .textarea {
      resize: none;
      height: 100px;
    }

    .input:focus,
    .textarea:focus {
      border: 2px solid var(#{--body-bg-default});
    }
  }

  .button {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: var(#{--body-bg-default});
    @include secondaryTitle;
    color: var(#{--text-color-active-default});
  }

  .button:disabled {
    filter: opacity(50%);
  }
}
