@import '../../Styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;

  .title {
    margin-bottom: 2rem;
  }

  .container-items {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
  }
}
