@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

@include page-layout(container, flex, column, 80%, auto, no-gap);

.dark-theme,
.light-theme {
  margin: auto;
  text-align: center;

  .title {
    margin: 5rem 0;
  }

  .container-items {
    width: 80%;
    justify-content: left;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
  }
}

@include FavPage(dark-theme, $color-4D);
@include FavPage(light-theme, $color-5L);
