.current-date {
  display: flex;
  align-items: center;
  justify-content: center;

  .weather-icon {
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }

  .date-info {
    display: flex;
    flex-direction: column;

    .time {
      font-size: 36px;
    }
  }
}
