.myBtn {
  padding: 5px 15px;
  color: rgb(0, 173, 173);
  font-size: 14px;
  background: transparent;
  border: 1px solid rgb(14, 196, 196);
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
}
