@import '../../styles/variables.scss';

.link {
  text-decoration: none;
  padding-right: 25px;
  color: $darkgrey;
  font-size: 1rem;
}

.linkLight {
  &:hover {
    color: $hovergrey;
  }
}

.linkDark {
  &:hover {
    color: $footergrey;
  }
}
