.form__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  top: 15%;
  position: absolute;
}

.feedback {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
}

.feedback_title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 10px;
}

.feedback_subtitle {
  font-size: 1.2em;
  text-align: center;
}
