.themeBtn {
  cursor: pointer;
  display: flex;
  padding: 5px;
  margin-left: auto;
  width: 50px;
  border-radius: 20px;
  border: 2px solid #3cc2ff;
}
.themeBtn:before {
  transition: 0.2s;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #3cc2ff;
  border-radius: 50%;
}
.themeBtn.darkTheme:before {
  transition: 0.2s;
  transform: translateX(13px);
}
