.item {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 15px;

  .timestamp {
    color: #aaaaaa;
    margin-bottom: 10px;
  }

  .title {
    font-weight: bold;
  }

  .type {
    font-size: 14px;
    color: #aaaaaa;
  }

  .description {
    margin: 15px 0;
  }

  .linkMore {
    display: flex;
    justify-content: flex-end;
    color: #00b2ff;
    text-decoration: none;
  }
}
