@import '../../styles/variables.scss';

.listElement {
    width: 100%;
    height: 50px;

    &:hover {
        background-color: $hovergrey;
    }
}

.locationName {
    text-align: left;
    list-style: none;
    padding: 1rem 2rem;
    margin: 0 2rem;
    cursor: pointer;
}