nav {
  background-color: $gem-green;
}

.nav__list {
  max-width: 90rem;
  display: flex;
  margin: 0;
  padding: 0;

  li {
    padding: 12px;
    font-size: 22px;
    color: $yellow-green;

    &:hover {
      background-color: $neon-green;
      color: $text-primary;
    }
  }
}

.nav__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}
