:root {
  --theme-color: #efefef;
  --primary-color: #000e29;
  --secondary-color: #333333;
  --selection-color: #cccccc;
  --error-bg-color: rgba(255, 0, 0, 0.1);
}

.theme-mode_dark {
  --theme-color: #0f3057;
  --primary-color: #e7e7de;
  --secondary-color: #aaaaaa;
  --selection-color: #0f3077;
}
