@import '../../../Styles/variables.scss';
@import '../../../Styles/mixins.scss';

.dark-theme,
.light-theme {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  transition: ease-in 0.2s;
  gap: 1rem;

  .container__items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2rem;

    &-item {
      width: 15rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 1rem;
      gap: 5px;
      backdrop-filter: blur(16px) saturate(180%);
      border-radius: 1.2rem;

      .temperature {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        gap: 1rem;

        &--max {
          font-size: $medium-font-size;
        }
      }

      .wind {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@include dailyForecast(dark-theme, $color-7D, $color-7D, $color-4D);
@include dailyForecast(light-theme, $rgba-bg-L, $color-1L, $color-5L);
