@import '../../scss';

.cities {
  margin-left: 50px;
  @include secondaryTitle;

  .city {
    margin-bottom: 8px;
    .link {
      color: var(#{--text-color-secondary-default});
      @include link;
    }
  
    .link:hover {
      background-color: #68bde788;
    }
  }
}

@include media('max', 'lg') {
  .cities {
    margin-left: 50px;
    @include secondaryTitle('lg');
  }
}

@include media('max', 'md') {
  .cities {
    @include secondaryTitle('md');

    .city {
      margin-bottom: 6px;
    }
  }
}

@include media('max', 'sm') {
  .cities {
    @include secondaryTitle('sm');
  }
}
