@import '../../global-styles/mixins';
@import '../../global-styles/colors';

.mainContainer {
  margin: 5rem auto;
  width: 80%;
  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    .cardContainer {
      width: 40%;
      margin: 0 2rem;
      .dataContainer {
        text-align: center;
        @include flex(row, space-around);
        align-items: center;
        margin: 3.3rem auto;
        .date {
          font-weight: 700;
          font-size: 1.2rem;
        }
        .temperature {
          font-size: 3rem;
          font-weight: 700;
          color: $darkerBlue;
          margin: 0;
        }
        .symbol {
          height: 5rem;
        }
      }
      .link {
        display: block;
        text-decoration: none;
        color: black;
        font-size: 0.8rem;
        font-style: italic;
        margin-top: 2rem;
        transition: all 0.8s ease;
        &:hover {
          padding-left: 1.5rem;
          font-weight: 700;
        }
        &.dark {
          color: $lightBlue;
        }
      }
    }
  }
  .button {
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
    color: $darkerBlue;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: $yellow;
    &:hover {
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: 1530px) {
  .mainContainer {
    width: 95%;
  }
}
@media screen and (max-width: 1300px) {
  .dataContainer {
    flex-wrap: wrap;
    justify-content: center;
    .date {
      padding: 0 4rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .mainContainer {
    .list {
      .cardContainer {
        width: 70%;
        margin: 0 auto;
        .dataContainer {
          .date {
            padding: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .mainContainer {
    width: 99%;
    .list {
      .cardContainer {
        width: 90%;
      }
    }
  }
}
