@import '../../scss';

.cities {
  margin-left: 50px;
  @include secondaryTitle;

  .link {
    color: var(#{--text-color-secondary-default});
  }

  .link:hover {
    color: var(#{--text-color-primary-default});
  }
}

@include media('max', 'lg') {
  .cities {
    margin-left: 50px;
    @include secondaryTitle('lg');
  }
}

@include media('max', 'md') {
  .cities {
    @include secondaryTitle('md');
  }
}

@include media('max', 'sm') {
  .cities {
    @include secondaryTitle('sm');
  }
}
