.cityInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.cityName {
  padding-top: 15px;
  font-size: 30px;
}

.weatherVariables {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  list-style: none;
}
