:root {
  --lightBlue: #3498db;
  --blue: #2980b9;
  --darkBlue: rgb(2, 2, 117);
  --darkerBlue: rgb(2, 2, 91);
  --lightPurple: #b393d3;
  --darkPurple: rgb(75, 4, 75);
  --white: rgb(255, 255, 255);
  --grey: #ccc;
  --black: rgba(0, 0, 0);
}
