.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  position: relative;
}

.dropdownContent {
  display: inline-block;
  position: absolute;
  background-color: var(--white);
  top: 100%;
  box-shadow: 0 8px 16px 0 var(--black);
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.dropdownContent a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: var(--grey);
}

.citySearch {
  width: 90%;
}
