.feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.feedbackHeading {
  text-align: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 15px;
}

.submitBtn {
  background-color: var(--lightBlue);
  height: 35px;
  color: var(--white);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

/* .submitBtn {border-radius: 2px;} */
