// FONTS
$font-primary: 'Inter', Courier, sans-serif;

$small-font-size: 1.3rem;
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$large-font-size: 4rem;

// LIGHT THEME
$color-1L: #490b3d;
$color-2L: #bd1e51;
$color-3L: #f1b814;

// DARK THEME
$color-1D: #61892f;
$color-2D: #86c232;
$color-3D: #222629;
$color-4D: #474b4f;
$color-5D: #6b6e70;
