// FONTS
$font-primary: 'Inter', Courier, sans-serif;

$small-font-size: 1.3rem;
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$large-font-size: 4rem;
$xl-font-size: 6rem;

// LIGHT THEME
$color-1L: #490b3d;
$color-2L: #bd1e51;
$color-3L: #f1b814;
$color-4L: #8db9e2;
$color-5L: black;
$rgba-bg-L: rgba(255, 255, 255, 0.75);
$rgba-border-L: rgba(209, 213, 219, 0.3);
$extra-rgba: rgba(40, 170, 255, 0.25);

// DARK THEME
$color-1D: #0c252f;
$color-2D: #19313c;
$color-3D: #bdddff;
$color-4D: #add9e5;
$color-5D: #ffffff;
$color-6D: #b42226;
$color-7D: #283c50;

// VARIABLES
/*
$bg-color
$text-color
$hover-color
$border-color
$button-color
$extra-color
*/
