@import '../../assets/styles/constants.scss';

.viewContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  background-color: $main-bg-color;
  color: $main-font-color;
}
