@import '../../styles/resets.css';
@import '../../styles/variables.css';

html,
body {
  min-height: 100vh;
  font-size: 62.5%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--light-background);
}

.loading-text {
  font-size: 3rem;
}
