.nav_element {
    width: 100%;
    margin: 0px;
    background-color: #44ebeba8;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    margin: 5px 0;
    /* border: 2px solid #5cbbbba8; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    overflow: hidden;
}

.nav_element:hover {
    /* background-color: rgb(255, 202, 55); */
    /* border: 2px solid white; */
    /* color: rgb(59, 82, 119);  */
    position: relative;
    left: 10px;
}

.nav_element:first-child {
    margin-top: 60px;
}

.nav_element .image {
    height: 40px;
    margin-left: 18px;
}