.cityBlock {
  width: 50%;
  margin: 20px;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid green;
  background-color: #4bace0;
  color: #fff;
  .cityInfo {
    padding: 20px;
  }
  .weatherIcon {
    width: 80px;
    height: 80px;
  }
}