.main {
    float: left;
    width: 70%;
    max-width: 150vh;
    height: 40vw;
    max-height: 80vh;
    position: relative;
    margin: 5vh 0 0 4.6%;
    box-shadow: 13px 13px 5px rgba(94, 87, 87, 0.836); 
    overflow: hidden;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.city {
    grid-area: 3 / 1 / 4 / 4;
    min-width: 230px;
}

.temperature {
    grid-area: 5 / 1 / 6 / 3;
    min-width: 200px;
}

.city, .temperature {
    margin: 2vmin 7vmin;
    padding: 2vmin 10px 1.5vmin 2vw;
    font-size: 52pt;
    color: rgb(36, 35, 71);
    background-color: #44ebebbd;  
    display: flex;
    align-items: center;
}

@media (max-width: 850px) {
    .city, .temperature  {
        font-size: 42pt;
    }
}

@media (max-width: 610px) {
    .city, .temperature  {
        font-size: 32pt;
    }
}