@import '../../../Styles/variables.scss';
@import '../../../Styles/mixins.scss';

.dark-theme,
.light-theme {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  transition: ease-in 0.2s;

  .container__slider {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;

    &::-webkit-scrollbar {
      height: 1.5rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;

      &:hover {
        cursor: auto;
      }
    }

    /* Buttons */
    &::-webkit-scrollbar-button {
      border-style: solid;

      &:hover {
        cursor: pointer;
      }
    }

    &-slide {
      min-width: 11rem;
      display: flex;
      flex-flow: column nowrap;
      flex-shrink: 0;
      scroll-snap-align: start;
      align-items: center;
      padding: 1rem;
      gap: 5px;
      backdrop-filter: blur(16px) saturate(180%);
      border-radius: 1.2rem;

      .temperature {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        gap: 1rem;
      }

      .details {
        margin-top: 1rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        .rain,
        .wind {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}

@include hourlyForecast(
  dark-theme,
  $color-7D,
  $color-7D,
  $color-5D,
  $color-5D,
  $color-5D,
  darken($color-5D, 40%),
  $color-3L
);
@include hourlyForecast(
  light-theme,
  $rgba-bg-L,
  $color-1L,
  $color-5L,
  $color-1L,
  $color-5D,
  gray,
  $color-5D
);
