.dropdownMenuContainer {
  margin: 40px auto;
  width: 25%;
  border-radius: 8px;

  color: var(--color-text-secondary);

  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.dropdownMenuContainer label {
  margin-bottom: 12px;
}

.dropdownMenuContainer select {
  overflow: auto;
}

.dropdownMenuContainer form {
  display: flex;
  flex-direction: column;
}

.submit {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);
}

.submit:hover {
  cursor: pointer;
}
