.dropdownMenuContainer {
  margin: 40px auto;
  border-radius: 8px;

  color: var(--color-text-secondary);

  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.dropdownMenuContainer label {
  margin-bottom: 12px;
}

.dropdownMenuContainer select {
  overflow: auto;
}

.dropdownMenuContainer form {
  display: flex;
  flex-direction: column;
}

.submit {
  padding: 4px;
  font-weight: bold;

  background-color: var(--color-canvas-secondary);
  color: var(--color-text-quaternary);
}

.submit:hover {
  cursor: pointer;
}

.text {
  font-size: 24px;
  color: var(--color-text-secondary);
}
