/* general */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2e2e2e;
}
body {
  padding-top: 120px;
  height: 100vh;
  position: relative;
  background-image: url(../img/cloud-top.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}
p {
  line-height: 24px;
}
input, input::placeholder, textarea, textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2e2e2e;
}