/* general */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2e2e2e;
}
body {
  padding-top: 120px;
  padding-bottom: 60px;
  position: relative;
  background-image: url(../img/cloud-top.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}
body:before {
  z-index: 1;
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  right: 100px;
  top: 100px;
  background-image: url(../img/sun-moon.png);
  background-repeat: no-repeat;
  background-position: -241px -65px;
  background-size: 465px;
}
body.dark {
  background-image: url(../img/cloud-top-dark.png);
  background-color: #060b1d;
}
body.dark:before {
  background-position: -13px -68px;
}
body.dark .selectWrap:after {
  border-color: #fff;
}
body.dark header {
  color: #fff;
  border-color: #060b1d;
}
body.dark header:before {
  background-color: #060b1d;
}
body.dark .block {
  background-color: #000;
}
p {
  line-height: 24px;
}
input,
input::placeholder,
textarea,
textarea::placeholder,
select {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2e2e2e;
  background-color: transparent;
}
input::placeholder,
textarea::placeholder {
  color: #989898;
}

h1 {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
}
