@import '../../scss';

.option {
  padding: 5px;
  border: 1px solid $borderColor;
  border-top: none;
  transition: background 0.3s;

  &:hover {
    background: $interactiveColor;
    color: $backgroundColor;
    cursor: pointer;
  }
}
