.aboutContainer {
    width: 40%;
    margin: 36px auto;
    text-align: center;
    border: 3px solid var(--color-canvas-primary);
    border-radius: 12px;
    color: var(--color-text-secondary); 
    padding: 46px;
    border-image: linear-gradient(to left, var(--color-canvas-quaternary), var(--color-canvas-tertiary)) 1 0;
}

.aboutContainer h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 18px;
}

.aboutContainer p {
    font-size: 18px;
}