.mainContainer {
  width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
  .sectionContainer {
    margin: 4rem auto;
    .article {
      margin: 2rem auto;
      .aboutUs {
        line-height: 2rem;
      }
    }
  }
}
