.about-container {
  display: block;
  max-width: 1000px;
}

.about-article {
  padding: 1rem;
}

.about-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.about-article-title {
  position: relative;
  width: max-content;
  margin-bottom: 2.5rem;
}

.about-article-title::after {
  position: absolute;
  content: '';
  top: 110%;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  border-bottom: 2px var(--font-color) solid;
}

.about-article > p {
  line-height: 150%;
  padding-left: 1.5rem;
}

.about-article:not(:last-child) {
  margin-bottom: 3rem;
}

.about-article__first-item {
  min-height: 50rem;
  background: linear-gradient(var(--about-page-gradient), var(--about-page-gradient)),
    url(../../pictures/diffThemes.png) center/ cover no-repeat;
}

.about-article__second-item {
  min-height: 50rem;
  background: linear-gradient(var(--about-page-gradient), var(--about-page-gradient)),
    url(../../pictures/diffView.png) center/ cover no-repeat;
}

.about-article__third-item {
  min-height: 30rem;
  background: linear-gradient(var(--about-page-gradient), var(--about-page-gradient)),
    url(../../pictures/feedback.png) center/ contain no-repeat;
}
