@import '../../scss';

.button {
  padding: 5px;
  border-radius: 5px;
  background-color: $card-bg;
  font-family: $font-family;
  @include secondaryTitle;
  cursor: pointer;
}

.active {
  background-color: var(#{--body-bg-default});
  color: var(#{--text-color-active-default});
}

@include media('max', 'md') {
  .button {
    @include secondaryTitle('sm');
  }
}

@include media('max', 'lg') {
  .button {
    padding: 3px;
    @include secondaryTitle('md');
  }
}
