.app {
  text-align: center;
  background-color: $primary-color;
  height: $height-default;
  width: $width-big;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-size: $font-size-default;
  color: $font-color;

  &__header {
    flex: 1;
    padding: $padding-default 0;
    width: inherit;
  }

  &__main {
    flex: 20;
    // width: fit-content;
  }

  &__footer {
    margin-top: auto;
    padding: $padding-default 0;

    width: inherit;
  }
}
