@import '../../scss';

.full-forecast {
  width: 100%;
  height: 100%;
  @include flex(flex-start, space-between, column);

  .daily-forecast {
    width: 100%;
    @include flex(flex-start, center, column);
    margin-top: 30px;
  }
}

@include media('max', 'md') {
  .full-forecast {
    height: 100%;
    @include flex(flex-start, space-between, column);
  }
}
