@import '../../common/variables.scss';

.container {
  margin: 5em;
  margin-left: 15em;
  height: auto;
  box-sizing: content-box;

  &__text {
    margin: 0;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.5em;
  }

  &__title {
    margin: 0;
    margin-bottom: 2em;
    line-height: 1em;
    font-size: 2.5em;
    text-align: center;
  }
}
