@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.banner {
  width: 100%;
}

.imgDiv {
  height: 600px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 5px 5px rgb(77, 76, 76);
  z-index: 30;
}

.backgroundImage {
  width: 100%;
  min-height: 600px;
  height: 1250px;
  background-size: cover;
  background-position: center;
  padding: 0;
  animation: mover 6s normal;
  animation-fill-mode: forwards;
  object-fit: cover;
  filter: brightness(80%);
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-570px);
  }
}

.title {
  text-align: center;
  width: 25%;
  width: 24%;
  margin-top: -350px;
  margin-left: 38%;
  animation: scale 5s normal;
  animation-fill-mode: forwards;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.5;

  @include mQ(1000px) {
    font-size: 1.5rem;
    width: 25%;
  }

  @include mQ(1200px) {
    font-size: 2rem;
    width: 24%;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.8);
  }
}

.content {
  margin-top: 307px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 100%;
}

.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  padding: 25px;
  color: $hovergrey;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $hovergrey;
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
    text-decoration: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150px;
    }
  }

  .icon {
    font-size: 6rem;
    font-weight: 200;
    padding: 20px;
  }

  &:hover {
    h3 {
      color: $darkgrey;
    }

    .icon {
      color: $darkgrey;
    }
  }
}

.scrollContainer {
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.currentWeatherBox,
.forecastBox,
.themeBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url('../../assets/Screenshot\ 2022-10-11\ 170123.png');

  @include mQ(1000px) {
    height: 480px;
    width: 100%;
    display: block;
    background-size: cover;
    margin: 0;
  }

  .text {
    background-color: rgba(211, 211, 211, 0.541);
    padding: 40px;
    text-align: left;
    width: 100%;
    display: block;
    margin: 490px 0 0 0;
    border-radius: 10px;
    height: fit-content;
    font-size: 1.9vw;

    @include mQ(1000px) {
      position: absolute;
      font-size: 1.1rem;
      font-size: 1.2vw;
      height: 400px;
      top: 20px;
      right: 0;
      margin: 20px 60px;
      width: 45%;
    }
  }
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 30px;
}

.forecastBox {
  background-size: auto 480px;
  background-image: url('../../assets/2022-10-11\ 210950_2[2537].png');
  background-position: right;
  margin-top: -160px;

  @include mQ(1000px) {
    position: relative;
    height: 480px;
    width: 100%;
    display: block;
    background-size: cover;
    margin: 0;
  }

  .text {
    left: 0;
    width: 100%;

    @include mQ(1000px) {
      position: absolute;
      top: 20px;
      right: 0;
      margin: 20px 60px;
      height: 400px;
      width: 40%;
    }
  }
}

.themeBox {
  background-image: none;
  background-color: $darkgrey;
  width: 100%;

  .text {
    background-color: $transparent;
    width: 100%;
    height: 0;
  }

  .sectionTitle {
    position: absolute;
    top: 100px;
    left: 10vw;
    text-align: center;
    color: $footergrey;
    font-size: 15vw;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0.4;
    z-index: 1;

    @include mQ(1000px) {
      left: 12vw;
    }
  }

  .iconsImg {
    background-image: url('../../assets/themeicons2[2541].png');
    object-fit: fill;
    width: 90vw;
    height: 320px;
    position: absolute;
    background-repeat: no-repeat;
    top: 40px;
    left: 10vw;
    z-index: 0;
  }
}