.search_wrapper {
  margin: 0 32px 0 32px;
  height: 2.4rem;
  width: 15.5em;
  background: var(--bg-grey-light);
  border-radius: 4px 4px 0px 0px;
  align-items: center;
}

.search_wrapper form {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.search_icon {
  width: 25px;
  height: 25px;
  align-self: center;
}

.cancel_icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.search_input {
  width: inherit;
  font-size: 0.9em;
  background-color: var(--bg-grey-light);
  border: 1px solid var(--bg-grey-light);
  background: var(--bg-grey-light);
  padding: 5px;
}

.search_wrapper input:focus {
  outline: none;
  border: 1px solid var(--bg-grey-light);
}
