.search_wrapper {
  position: relative;
  margin: 0 24px 0 0;
  height: 2rem;
  width: 14rem;
  background: #fff;
  border-radius: 4px 4px 0px 0px;
}

.search_form {
  display: flex;
  height: 100%;
  padding: 0 5px;
  z-index: 1;
}

.search_form_inner {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 14px 0 12px;
  z-index: 1;
}

.search_label {
  display: inline-flex;
}

.search_icon {
  margin: 0px 5px 0px 10px;
  text-align: center;
}

.search_input {
  background: none;
  border: none;
  font-weight: 500;
  width: 100%;
  margin-left: 5px;
  font-size: 1em;
}

input:focus {
  outline: none;
}

.search_dropdown {
  position: relative;
  display: inline-block;
  background-color: #f6f6f6;
  width: inherit;
}

.search_dropdown_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 15px 12px;
  font-size: 1.1em;
}

.search_dropdown_item:hover {
  background: rgba(218, 209, 247, 0.7);
}
