.search_wrapper {
  position: relative;
  margin: 0 32px 0 32px;
  height: 2rem;
  width: 16rem;
  background: #fff;
  border-radius: 4px 4px 0px 0px;
}

.search_form {
  display: flex;
  height: 100%;
  width: inherit;
  padding: 0 5px;
}

.search_label {
  display: inline-flex;
  width: 82%;
}

.search_icon {
  width: 25px;
  height: 25px;
  align-self: center;
}

.cancel_icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.search_input {
  border: none;
  font-weight: 500;
  font-size: 1em;
  padding: 15px;
}

textarea:focus, input:focus{
  outline: none;
}

.search_dropdown {
  position: relative;
  display: inline-block;
  background-color: #f6f6f6;
  width: inherit;
}

.search_dropdown_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 15px 12px;
  font-size: 1.1em;
}

.search_dropdown_item:last-child {
  border-radius: 0 0 4px 4px;
}

.search_dropdown_item:hover {
  background: rgba(218, 209, 247, 0.7);
}
