@import '../../../Styles/variables.scss';
@import '../../../Styles/mixins.scss';

.dark-theme,
.light-theme {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: fit-content;
  padding: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: 1.2rem;
  transition: ease-in 0.2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .starIcon {
    font-size: 4rem;
    margin-bottom: -1rem;

    &:hover {
      cursor: pointer;
    }
  }

  .container__location {
    display: flex;
    flex-direction: column;

    .location-name {
      font-size: $large-font-size;
    }

    .country-name {
      font-size: $medium-font-size;
    }
  }

  .container__weather {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 3rem;

    .temperature {
      font-size: 8rem;
      letter-spacing: -0.1em;
      line-height: 1;
      font-weight: 200;
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  .container__grid {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

@include CurrentForecastTheme(dark-theme, $color-7D, $color-7D, $color-4D, $color-3L, $color-5D);
@include CurrentForecastTheme(light-theme, $rgba-bg-L, $color-1L, $color-5L, $color-1L, $color-3L);
