.card {
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
}

.card_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.card_item {
  display: flex;
  flex: 1;
  margin: 0;
  border-radius: 10px;
  background: rgba(218, 209, 247, 0.7);
  width: 100%;
}

.card_link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.card_info {
  padding: 15px 20px 20px;
  width: inherit;
}

.card_text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}
