@import '../../scss';

.dailyForecastItem {
  border: 1px solid $borderColor;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  margin-bottom: 10px;
}
