@import '../../common/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 25em;
  margin: 0 auto;

  &__name {
    text-align: start;
    width: inherit;
    text-transform: capitalize;
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25em;
  }

  &__temperature {
    display: flex;
    flex-direction: column;
  }

  &__real_temperature {
    font-size: 3em;
    color: $temperature;
  }

  &__feels_temperature {
    color: $temperature;
  }

  &__wind {
    color: $wind;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    width: 25em;

    &_text {
      font-size: large;
      text-transform: capitalize;
    }
  }
}
