@import '../../assets/styles/constants/main.scss';

.city-forecast {
  width: 30%;
  height: 100%;

  .content {
    width: 80%;
    justify-content: center;
    margin: 20px auto;
    padding: 30px;
    background-color: $transparent-darken-blue;
    color: $secondary-font-color;
    cursor: default;
  }

  .city-temperature {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 15px 0;

    .temperature-degrees {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      line-height: 100%;
      margin: 0 5px 0 40px;
    }
  }

  .temperature-description {
    display: block;
    text-align: center;
    font-size: $font-size-lg;
  }

  .city-location {
    position: relative;
    display: block;
    text-align: center;
    font-size: $font-size-md;
  }

  .added-info {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .added-info-type,
    .added-info-value {
      display: flex;
      flex-direction: column;
      margin: 0 15px;
    }

    .added-info-type-name {
      display: flex;
    }
  }
}
