@import '../../assets/styles/constants/main.scss';

.city-forecast {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 100%;

  .city-forecast-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .content {
    position: absolute;
    width: 70%;
    justify-content: center;
    margin: 20px 0;
    padding: 30px 20px;
    background-color: $transparent-darken-blue;
    color: $secondary-font-color;
    cursor: default;
    z-index: 10;
  }

  .city-temperature {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 10px 0;

    .temperature-degrees {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      line-height: 100%;
      margin: 0 5px 0 40px;
    }
  }

  .temperature-description {
    display: block;
    text-align: center;
    font-size: $font-size-lg;
  }

  .city-location {
    position: relative;
    display: block;
    text-align: center;
    font-size: $font-size-md;

    .location {
      margin-left: 5px;
    }
  }

  .added-info {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .added-info-type,
    .added-info-value {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
    }

    .added-info-type-name {
      display: flex;
    }
  }
}
