@import '../../global-styles/mixins';
@import '../../global-styles/colors';

.main {
  width: 70%;
  margin: 0 auto 20vh auto;
  .container {
    @include flex(row, space-between);
  }
  .toTheTop {
    margin-right: 5rem;
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
    color: $darkerBlue;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: $yellow;
    &:hover {
      opacity: 0.8;
    }
  }
}
