.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 140px;
  margin: 0 15px;
}

.day {
  font-size: 20px;
  line-height: 18px;
  color: var(--daily-forecast-text-color);
}

.temperatureAndWeatherIcon {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.temperature {
  font-size: 36px;
  line-height: 42px;
  color: var(--daily-forecast-text-color);
}

.condition {
  font-size: 20px;
  line-height: 21px;
  color: var(--daily-forecast-text-color);
}

.weatherIcon {
  width: 54px;
  height: 54px;
  margin-right: 10px;
}
