:root {
  --black: black;
  --white: white;
  --background: rgb(41, 41, 41);
  --dark: rgb(68, 68, 68);
  --light: rgb(199, 199, 199);
}

.theme-toggler {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.theme-toggler-button {
  outline: none;
  border: none;
  border-radius: 25px;
  color: var(--white);
  background-color: var(--light);
  padding: 12px;
  cursor: pointer;
  transition: 180ms;
}

.dark .theme-toggler-button {
  background-color: var(--black);
}
