@import '../../scss';

.success-page {
  @include flex(center, center, column);
  height: 100%;
  text-align: center;

  .title {
    @include primaryTitle;
    position: relative;
    display: inline-block;
  }

  .title::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../../images/heart.png');
    background-size: contain;
    top: 12px;
    right: -33px;
  }

  .link {
    @include secondaryTitle;
    color: var(#{--text-color-secondary-default});
  }

  .link:hover {
    color: var(#{--text-color-primary-default});
  }
}

@include media('max', 'lg') {
  .success-page {
    .title {
      @include primaryTitle('lg');
    }
  }
}

@include media('max', 'md') {
  .success-page {
    .title {
      @include primaryTitle('md');
    }

    .title::after {
      width: 20px;
      height: 20px;
      right: -25px;
    }

    .link {
      @include secondaryTitle('md');
    }
  }
}

@include media('max', 'sm') {
  .success-page {
    .title {
      @include primaryTitle('sm');
    }

    .title::after {
      width: 17px;
      height: 17px;
      right: -20px;
      top: 7px;
    }

    .link {
      @include secondaryTitle('sm');
    }
  }
}
