@import '../../assets/styles/constants/main.scss';

.error {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .error-info {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }
}
