.header {
    background-color: white;
    display: flex;
    padding: 5px 15px;
    max-width: 900px;
    margin: 0 auto;
}

.headerContent {
    display: flex;
    width: 50%;

    button {
        color: rgb(38, 38, 38);

        &:hover {
            background-color: antiquewhite;
        }
    }

    .divider {
        background-color: rgb(38, 38, 38);
        height: 28px;
        margin: 16px 16px;
        width: 1px;
    }
}