:root {
  --black: black;
  --white: white;
  --background: rgb(41, 41, 41);
  --dark: rgb(68, 68, 68);
  --light: rgb(199, 199, 199);
}


.nav {
  list-style: none;
}

.nav a {
  text-decoration: none;
  padding: 10px 8px;
  color: inherit;
  margin: 0 4px;
  border-radius: 4px;
  transition: 180ms;
}

.dark .nav a:hover {
  background-color: var(--dark);
}
.nav a:hover {
  background-color: var(--light);
}
