.headerContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  right: 0px;
  padding: 0 100px;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  font-family: 'Lobster', cursive;
  font-size: 28px;

  color: var(--color-text-primary);
  background: linear-gradient(
    45deg,
    var(--color-canvas-tertiary),
    var(--color-canvas-primary),
    var(--color-canvas-secondary),
    var(--color-canvas-quaternary)
  );
}

.img {
  width: 10%;
  max-width: 60px;
  min-width: 40px;
  margin-right: 32px;
}

.titleContainer {
  display: flex;
}

.mainTitle {
  color: var(--color-text-quaternary);
}
