@import '../../common/variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: $headerHeight;
  background-color: $primary;
  height: $headerHeight;
  padding: 0;
  margin: 0;

  &__titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
}
