.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: var(--light-header);
  margin-bottom: 5rem;
}

.nav-list {
  display: flex;
  column-gap: 25px;
}

.list-item {
  font-size: 2rem;
  padding: 0.5rem;
  position: relative;
  text-transform: uppercase;
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--light-blue-background) 50%
  );
  background-size: 250%;
  transition: all 0.2s;
}

.list-item:hover {
  background-position: 100%;
}

.theme-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.active-link {
  color: var(--active-link);
}

.search-group {
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.search-results {
  position: absolute;
  top: 100%;
  font-size: 1.5rem;
}

.search-results__item {
  cursor: pointer;
}

.search-results__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.search-results__item:first-child {
  margin-top: 0.5rem;
}
