.headerContainer {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  color: antiquewhite;
  background: linear-gradient(
    45deg,
    #b5179e,
    #7209b7,
    #601293,
    #480ca8,
    #3f37c9,
    #4361ee,
    #4895ef,
    #4cc9f0
  );
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  right: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 5%;
  max-width: 60px;
  min-width: 40px;
  margin-right: 32px;
}
