.header-container {
  display: flex;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: antiquewhite;
  background: linear-gradient(
    45deg,
    violet,
    orange,
    yellow,
    green,
    #5897d1,
    indigo,
    violet,
    violet
  );
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  right: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

img {
  width: 6%;
  margin-right: 32px;
}
