@import '../../scss';

.header {
  height: 10vh;
  &_container {
    padding: 10px;
    @include flex(center, space-between);
  }
}

.navigation {
  display: none;
}

@include media('max', 'md') {
  .header {
    height: 20vh;
  }

  .navigation {
    display: block;
  }
}
