@import '../../global-styles/colors';
@import '../../global-styles/mixins';

.header {
  height: 20vh;
  width: 100%;
  background-image: url('../../../assets/sky1.jpg');
  background-position: bottom;
  background-size: cover;
  transition: background-image 0.6s ease-in, background-position 0.6s ease-in;
  &.dark {
    background-image: url('../../../assets/dark_sky.jpg');
    background-position: center;
  }
  .container {
    width: 70%;
    height: 20vh;
    margin: 0 auto;
    text-align: right;
    @include flex(column, space-between);
    .title {
      margin: 0;
      padding-top: 5vh;
      .titleContent {
        margin: 0;
        font-size: 5vh;
        letter-spacing: 4px;
        color: $darkerBlue;
        z-index: 3;
        position: relative;
        .titleLink {
          text-decoration: none;
          color: inherit;
        }
      }
      .logo {
        background-image: url('../../../assets/sun_logo.png');
        width: 17vh;
        height: 17vh;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 10%;
        z-index: 2;
      }
    }
    .nav {
      .linkContainer {
        list-style: none;
        margin: 0;
        .link {
          display: inline-block;
          padding: 1rem;
          margin: 0 1rem;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $darkBlue;
            font-weight: 700;
            font-size: 1.1rem;
            padding: 1rem 4rem;
            position: relative;
            z-index: 3;
            &:hover {
              background-color: $yellow;
            }
          }
          .active {
            background-color: $yellow;
          }
        }
      }
    }
  }
  .navBurger {
    width: 3.1rem;
    height: 3.1rem;
    background-color: $yellow;
    text-align: center;
    padding: 0.7rem 0;
    margin: 0 2rem;
    cursor: pointer;
    position: absolute;
    top: 15vh;
    opacity: 0;
  }
  .mobileNav {
    background-color: $yellow;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    .linkContainer {
      list-style: none;
      margin: 4rem 0;
      .link {
        padding: 1rem;
        margin: 1rem;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $darkBlue;
          font-weight: 700;
          font-size: 1.1rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
  .buttonsContainer {
    margin-right: 7%;
    @include flex(row, flex-end);
    .buttonLabel {
      font-size: 0.9rem;
      display: inline-block;
    }
    .themeSwitcher {
      margin-left: 0.5rem;
      margin-top: 0.5rem;
      width: 4rem;
      height: 2.2rem;
      border-radius: 1.2rem;
      background-color: white;
      @include borderShadows(1px, 1px, 3px, $borders);
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background-color 0.6s ease-out;
      .themeSwitcherButton {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 0.4rem;
        background-color: $darkYellow;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        transition: margin-left 0.6s ease-out;
      }
      .moonMaker {
        width: 0.4rem;
        height: 0.4rem;
        margin: 0 1rem 0 0;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: height 0.6s ease-out, width 0.6s ease-out, background-color 0.6s ease-out,
          margin-left 0.6s ease-out;
      }
      &.dark {
        background-color: black;
        @include borderShadows(1px, 1px, 3px, $transparentBlack);
        .themeSwitcherButton {
          margin-left: 2rem;
        }
        .moonMaker {
          width: 1.6rem;
          height: 1.6rem;
          opacity: 1;
          background-color: black;
          margin-left: 1.3rem;
        }
      }
    }
    .degreesChanger {
      margin: 0.1rem 0.5rem;

      .select {
        appearance: none;
        height: 2.2rem;
        margin-left: 0.5rem;
        padding: 0 2rem 0 1rem;
        outline: none;
        @include borderShadows(1px, 1px, 3px, $borders);
        border-radius: 0.3rem;
        background-color: $transparentWhite;
        transition: background-color 0.6s ease-out;
        cursor: pointer;
        .option {
          appearance: none;
          margin: 0.5rem 0;
          cursor: pointer;
        }
        &.dark {
          @include borderShadows(1px, 1px, 3px, $transparentBlack);
          background-color: black;
          color: $lightBlue;
        }
      }
    }
  }
}
@media screen and (max-width: 1530px) {
  .header {
    .container {
      width: 80%;
      .title {
        .logo {
          right: 5%;
        }
      }
      .nav {
        .linkContainer {
          .link {
            margin: 0;
            a {
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .header {
    .container {
      width: 90%;
    }
  }
}
@media screen and (max-width: 760px) {
  .header {
    .container {
      .nav {
        display: none;
      }
    }
    .navBurger,
    .mobileNav {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 750px) {
  .header {
    .container {
      .title {
        .titleContent {
          margin: 0;
          font-size: 3.5vh;
        }
      }
    }
    .buttonsContainer {
      .buttonLabel {
        display: none;
      }
      .degreesChanger {
        margin-top: 0.5rem;
      }
    }
  }
}
