@import '../../Styles/variables.scss';

.navMenu {
  width: 100%;
  margin-bottom: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(to right, #f12711, #f5af19);

  .container {
    width: 50%;
    margin: auto;

    .nav-items {
      list-style: none;
      padding: 2rem 0 2rem;
      display: flex;
      justify-content: space-evenly;
    }

    a {
      color: black;
      list-style: none;
      text-decoration: none;
      font-size: $medium-font-size;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      width: 8rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
      }
    }
  }
}
