@import '../../Styles/variables.scss';

.navMenu {
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;

  .container {
    width: 50%;
    margin: auto;

    .nav-items {
      list-style: none;
      padding: 2rem 0 2rem;
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid transparent;
    }

    a {
      color: $color-1L;
      list-style: none;
      text-decoration: none;
      font-size: $medium-font-size;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      width: 8rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: lighten($color: $color-1L, $amount: 50%);
      }
    }
  }
}
