@import '../../assets/styles/constants.scss';

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px $shadow-theme-color;
  padding: 15px 0;
  background-color: $main-bg-color;
  color: $main-font-color;
  z-index: 1;
}
