@import "../../scss";

.header {
    height: $header-height;
    padding: 10px;
    border: $border;

    @include flex(center, space-between);

    &__logo {
        font-weight: $weight-bold;
    }
}