@import '../../Styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: left;
  width: fit-content;
  padding: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1.2rem;
  border: 1px solid rgba(209, 213, 219, 0.3);

  &__location {
    display: flex;
    flex-direction: column;
    gap: 0;

    .location-name {
      font-size: $large-font-size;
      font-weight: 700;
    }

    .country-name {
      font-size: $medium-font-size;
    }
  }

  &__weather {
    display: flex;
    align-items: center;
    gap: 1rem;

    .temperature {
      font-size: $xl-font-size;
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
}
