@import '../../Styles/variables.scss';

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: fit-content;
  padding: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1.2rem;
  border: 1px solid rgba(209, 213, 219, 0.3);

  &__location {
    display: flex;
    flex-direction: column;

    .location-name {
      font-size: $large-font-size;
    }

    .country-name {
      font-size: $medium-font-size;
    }
  }

  &__weather {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;

    .temperature {
      font-size: 8rem;
      letter-spacing: -0.1em;
      line-height: 1;
      font-weight: 200;
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__grid {
    display: grid;
    align-items: start;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1rem;
    gap: 1rem;
  }
}
