.search__autocomplete-item{
  padding: 1rem;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--fields-background);
  cursor: pointer;
  &:hover{
    background-color: #e9e9e9;
  }
}