.timepiece {
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
