.container {
  margin-top: 35px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 56px;
}

.submitBtn {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: transparent;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  border: 1px solid var(--submit-button-border-color);
}

.submitBtn:hover {
  background-color: var(--submit-button-color);
}

.submitButtonContainer {
  width: 600px;
  display: flex;
  justify-content: flex-end;
}