.container {
    width: 302px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.weatherItem {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.005em;
}

