@import '../../../../../assets/styles/constants.scss';

$degrees-content: '°';

.forecastItem {
  border: 1px solid $main-border-color;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
    font-weight: bold;
    font-size: $additional-text-font-size;
    text-transform: uppercase;
  }

  .icon {
    width: 80px;
    height: 80px;
    margin: 15px 0;
  }

  .temperature {
    font-size: $additional-text-font-size;

    .sun {
      padding: 0 10px;
      &::after {
        content: $degrees-content;
      }

      border-right: 1px solid $main-border-color;
    }

    .shadow {
      color: $main-border-color;
      padding: 0 10px;

      &::after {
        content: $degrees-content;
      }
    }
  }
}
