@import '../../common/variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: auto;

  &__img {
    width: 25em;
    margin: 0 auto;
    display: block;
  }
}
