$neon-green: #00ffab;
$gem-green: #14c38e;
$pastel-green: #b8f1b0;
$yellow-green: #e3fcbf;
$base: #f9f2ed;
$text-primary: #323232;
$standart-shadow: drop-shadow(0px 0px 8px #777);

@keyframes mymoveUpDown {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(6px);
  }

  50% {
    transform: translateY(12px);
  }

  75% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $base;
  color: $text-primary;
  box-sizing: border-box;
  font-family: 'font-regular';
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  display: block;
}

ul {
  list-style: none;
}

a {
  color: $text-primary;
  text-decoration: none;

  &:hover {
    color: $gem-green;
  }
}

.white {
  background-color: #fff;
}
