#app {
  transition: all 0.4s ease;
  transition-property: background-color, color;
}

.page {
  max-width: 90rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[data-theme='dark'] {
  background-color: $text-primary;
  color: $neon-green;
}
