@font-face {
  font-family: 'font-regular';
  src: local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'font-bold';
  src: local('SourceSansPro-Bold'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}
