@import '../../assets/styles/constants.scss';

$copyright-font-size: 12px;

.footer {
  background-color: $main-bg-color;
  text-align: right;
  border-top: 1px solid $main-border-color;
  padding: 20px 80px;
  font-size: $copyright-font-size;
  color: $main-font-color;
}
