@import '../../global-styles/colors';

.footer {
  height: 20vh;
  width: 100%;
  background-color: $darkerBlue;
  color: $lightestBlue;
  text-align: center;
  .container {
    padding-top: 5vh;
  }
}
