.footer {
  position: absolute;
  bottom: 0px;
  height: 20px;
  left: 0px;
  right: 0px;

  width: 100%;
  padding-right: 40px;
  overflow: hidden;

  background-color: var(--purple);
  color: white;

  font-size: larger;
  text-align: right;
}
