.footer {
  margin-top: auto;
  padding: 40px;
  background-color: var(--footer-background);
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1460px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.footer a {
  transition: .2s;
}
.footer a:hover {
  transition: .2s;
  opacity: .8;
}