@import '../../Styles/variables.scss';

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10rem;
  padding: 1rem 0 1rem;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-left: 1rem;
      width: 8rem;
    }
  }
}
