@import '../../common/variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $footer-background-color;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
