@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.dark-theme,
.light-theme {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1rem;
  transition: ease-in 0.2s;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-left: 1rem;
      width: 8rem;
    }
  }
}

@include FooterTheme(light-theme, $color-5D, $color-5L);
@include FooterTheme(dark-theme, $color-2D, $color-5D);
