@import '../../assets/styles/constants.scss';

$copyright-font-size: 12px;

.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $main-border-color;
  padding: 0 80px;

  .copyright {
    padding: 20px 0;
    font-size: $copyright-font-size;
  }
}
