@import '../../../assets/styles/constants/main.scss';

.daily-forecast-data {
  box-sizing: border-box;
  display: flex;
}

.daily-forecast-title {
  font-size: $font-size-md;
  margin-bottom: 10px;
}
