@import '../../styles/variables.scss';

.header {
  width: 100%;
  background-color: $lightgrey;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menuNav {
  height: 100%;
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2em;
}

.link {
  text-decoration: none;
  color: $darkgrey;
  padding-right: 25px;

  &:hover {
    color: $hovergrey;
  }
}
.search {
  width: 40%;
}
