@import '../../scss';

.search-input {
    width: 250px;
    padding: 12px 12px 12px 35px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    background-image: url('../../images/search.png');
    background-position: left 5px center;
    background-size: 25px;
    background-repeat: no-repeat;
    border: 2px solid var(#{--body-bg-light});
}
