@import '../../variables.scss';

.search{
  display: flex;
  margin-right: 50px;
  position: relative;
  @include breakpoint (xl) {
    margin-right: 30px;
  }

  @include breakpoint (md) {
    margin-right: 15px;
  }

  &-input{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border: 1px solid var(--text-color);
    background-color: var(--fields-background);
    transition: background-color .3s linear;
    @media(max-width: 1080px) {
      width: 230px;
    }

    @include breakpoint (sm) {
      width: 180px;
    }

    @include breakpoint (xs) {
      width: 130px;
    }
  }

  &-button{
    cursor: pointer;
  }

  &-submit{
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
  }

  &__autocomplete{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 45px;
    background-color: #fff;
    width: 100%;
    border: 1px solid var(--text-color);
    max-height: 300px;
    overflow-y: auto;
  }

  &__loading{
    padding: 1rem;
    user-select: none;
  }
}