.leftGrid {
    // min-width: 50px;
    width: 91px;
    // background-color: yellow;
    padding: 15px;
    list-style: none;
    border-right: 1px solid rgb(38, 38, 38);
    height: 100%;

    button {
        color: rgb(38, 38, 38);

        &:hover {
            background-color: antiquewhite;
        }
    }
}