@import '../../scss';

.daily-forecast {
  margin-top: 35px;
  width: 70%;
  @include flex(flex-end, space-between);

  .day-forecast {
    @include flex(center, space-between, column);
    width: 12%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: $card-bg;
    cursor: pointer;

    .date {
      @include secondaryTitle;
    }

    .symbol {
      display: block;
      width: 50%;
      margin: 0 auto;
    }

    .temperature {
      padding: 15px 0 0 $font-size * 1.3;
      color: var(#{--text-color-secondary-default});
      @include description;

      &_day,
      &_night {
        padding: 0 3px;
        position: relative;
      }

      &_day::before,
      &_night::before {
        content: '';
        width: $font-size;
        height: $font-size;
        position: absolute;
        left: -$font-size;
        top: 0;
        filter: var(#{--icon-filter-default});
      }

      &_night::before {
        background-image: url('../../images/moon.png');
      }

      &_day::before {
        background-image: url('../../images/sun.png');
      }
    }
  }

  .active {
    background-color: var(#{--body-bg-default});
    color: var(#{--text-color-active-default});

    .temperature {
      color: var(#{--text-color-active-default});

      &_day::before,
      &_night::before {
        filter: invert(100%);
      }
    }
  }
}

@include media('max', 'xl') {
  .daily-forecast {
    width: 100%;
  }
}

@include media('max', 'lg') {
  .daily-forecast {
    .day-forecast {
      padding: 3px;

      .symbol {
        width: 30px;
      }

      .date {
        @include secondaryTitle('md');
      }

      .temperature {
        padding: 5px 0 0 20px;
        @include description('md');

        &_day::before,
        &_night::before {
          width: $font-size * (767 / 1000);
          height: $font-size * (767 / 1000);
          background-size: $font-size * (767 / 1000);
          left: -$font-size * (767 / 1000);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .daily-forecast {
    .day-forecast {
      .symbol,
      .temperature {
        display: none;
      }
    }
  }
}
