.location-weather__current {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  border-top: 1px solid var(--primary-color);
}

.location-weather__current-title {
  margin: 0 0.8rem 0 0;
  padding: 0;
}

.location-weather__add-btn {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.location-weather__current-weather-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.location-weather__current-weather-item {
  margin-left: 0.8rem;
}

.location-weather__current-weather-title {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.location-weather__current-weather-temp-wrapper {
  display: flex;
}

.location-weather__current-weather-item-label {
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
}
.location-weather__current-weather-temp-value {
  font-size: 3rem;
  font-weight: 700;
}

.location-weather__current-weather-temp-degrees {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
}

.location-weather__current-weather-symbol-img {
  display: block;
  width: 3rem;
}

.location-weather__current-weather-wing-img {
  display: block;
  width: 2rem;
}

.location-weather__current-weather-wind-value {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
}
