.snackbar{
  position: absolute;
  bottom: 10%;
  right: 5%;
  max-width: 350px;
  width: 100%;
  height: 50px;
  background-color: rgb(46, 125, 50);
  color: #fff;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border-radius: .3rem;
};