@import '../../../global-styles/colors';
@import '../../../global-styles/mixins';

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  @include borderShadows;
  margin: 3rem;
  padding: 2rem;
}
