@import '../../assets/styles/constants/main.scss';

.header {
  display: flex;
  height: 10vh;
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33.33%;
  height: 60%;
}
