@import '../../../assets/styles/constants/main.scss';

.city-forecast {
  width: 30%;
  height: 100%;
  background-color: #fff;

  &-wrapper {
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #5171b0a1;
    color: $light-font-color;
  }
}
