@import './scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(#{--body-bg-default});
  color: var(#{--text-color-secondary-default});
  font-family: $font-family;
  font-weight: $weight-regular;
  font-size: $font-size;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: none;
}

button {
  border: none;
}

.container {
  display: flex;
  height: 100%;
}

.app_container {
  flex-direction: column;
}

@include media('max', 'md') {
  $font-size: 1.2rem;

  body {
    font-size: $font-size;
  }
}
