* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.home,
.info,
.feedback {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  --text-white: #ffffff;

  --bg-grey-light: #ffffff;
  --bg-white: #ffffff;
  --bg-blue-dark: #142136;
}

[data-theme='dark'] {
  --text-white: #7577e1;

  --bg-grey-light: #d7dde9;
  --bg-white: #22395d;
  --bg-blue-dark: #090f18;
}
