@import './scss';

* {
  box-sizing: border-box;
  transition: background-color 0.3s;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $primaryFontColor;
  background: $backgroundColor;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 800px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
