@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

:root {
  --theme-color: #efefef;
  --primary-color: #000e29;
  --secondary-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[data-theme="dark"] {
  --theme-color: #0f3057;
  --primary-color: #e7e7de;
  --secondary-color: #aaa;
}

.global-wrapper {
  background: var(--theme-color);
  color: var(--primary-color);
}
