* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 800px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
