@font-face {
  font-family: 'Gilroy';
  src: url(assets/fonts/Gilroy/Gilroy-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url(assets/fonts/Gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url(assets/fonts/Gilroy/Gilroy-ExtraBold.ttf);
  font-weight: 600;
}

#root {
  --background-color: #f2f2f2;

  display: flex;
  flex: 1;
  flex-direction: column;
}

body {
  font-family: 'Gilroy', 'Mulish', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
  box-shadow: 0 0 0 30px var(--background-color) inset !important;
}
