.app {
    width: 100%;
    /* min-height: 98vh; */
    display: grid;
   
    grid-template-areas: 
      "nav head head head head"
      "nav main main main main"
      "nav main main main main"
      "nav main main main main"
      "nav main main main main";
}