@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}
$bgc: teal;
$headerAndFotterColor: rgb(221, 170, 17);
$searchItemsColor: rgb(23, 203, 216);
.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 2px;
    color: $searchItemsColor;
  }
}
.items {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    height: auto;
  }
}
.appheader {
  background-color: $bgc;
  height: 55px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  h3 {
    margin: 0;
    padding-left: 90px;
    color: $headerAndFotterColor;
  }
}

.appfooter {
  background-color: $bgc;
  height: 55px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    font-size: large;
    margin: 0;
    padding-left: 90px;
    color: $headerAndFotterColor;
  }
}
