@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import './helper/variables';
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 5px 15px;
  color: $colorTextSecondary;
  font-size: 14px;
  background: transparent;
  border: 2px solid $colorUISecondary;
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
}
.input {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;

  height: 20px;
  border-radius: 8px;
  border: 2px solid $colorUISecondary;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 2px;
    color: $colorUISecondary;
  }
}
.buttons {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    height: auto;
  }
}

.appheader {
  background-color: $colorUIPrimary;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0px 90px;
  a {
    color: $colorTextPrimary;
    padding: 3px;
    border: 3.5px solid $colorUISecondary;
    font-weight: bold;
    text-decoration: none;
  }
  .logo {
    border: 0px;
  }
}

.appfooter {
  background-color: $colorUIPrimary;
  height: 55px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    font-size: large;
    margin: 0;
    padding-left: 90px;
    color: $colorTextPrimary;
  }
}
.images {
  display: flex;
  justify-content: center;
}
.about {
  display: flex;
  justify-content: center;
  p {
    width: 800px;
    color: $colorUISecondary;
  }
}
