$body-bg: #68bde7;
$main-bg: #eefaff;
$card-bg: #68bde733;

$text-color-light: #eefaff;
$text-color-dark: #3f3d56;
$text-color: #34799b;

$font-size: 1.5rem;
$font-family: 'Nunito';
$weight-bold: 700;
$weight-regular: 400;
$weight-light: 500;

$header-height: 10vh;
