$primary: var(--primary);
$borderColor: var(--borderColor);
$primaryFontColor: var(--primaryFontColor);
$secondaryFontColor: var(--secondaryFontColor);
$backgroundColor: var(--backgroundColor);
$interactiveColor: var(--interactiveColor);
// $color: #ffffff;
