@import '../../../assets/styles/constants/main.scss';

.feedback-form {
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  .textInput,
  .textareaInput {
    margin-top: 5px;
  }

  .textInput {
    height: 35px;
    font-size: $font-size-sm;
  }

  .textareaInput {
    resize: none;
  }

  input[type='submit'],
  input[type='reset'] {
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: $secondary-bg-color;
    color: $secondary-font-color;
    outline: $secondary-bg-color;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: $active-btn-color;
    }
  }

  input[type='reset'] {
    background-color: $grey;
  }

  .resetBtn {
    display: flex;
    margin-top: 20px;
  }
}
