.light_theme {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-primary-accent: #00b2ff;
  --color-secondary-accent: #f8b200;
  --additional-text-collor: #aaaaaa;
  --border-color: #dadada;
  --main-border-color: #dadada;
  --shadow-theme-color: rgba(0, 0, 0, 0.11);
  --additional-text-collor: #aaaaaa;
  --preloader-additional-color: #00b2ff47;
  --hover-item-color: #f9f9f9;
}

.dark_theme {
  --color-primary: #3a3a3a;
  --color-secondary: #fff;
  --color-primary-accent: #00b2ff;
  --color-secondary-accent: #f8b200;
  --additional-text-collor: #aaaaaa;
  --border-color: #dadada;
  --main-border-color: #dadada;
  --shadow-theme-color: rgba(255, 255, 255, 0.11);
  --additional-text-collor: #aaaaaa;
  --preloader-additional-color: #00b2ff47;
  --hover-item-color: #282828;
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-primary-accent: var(--color-primary-accent);
$color-secondary-accent: var(--color-secondary-accent);

$main-font-size: 16px;
$main-font-family: Arial;
$main-font-color: $color-secondary;
$main-icons-color: $color-secondary;
$main-bold-font-weight: bold;

$main-bg-color: $color-primary;

$link-color: $color-primary-accent;
$additional-text-collor: var(--additional-text-collor);

$border-color: var(--border-color);

$border-field-color: $color-primary-accent;

$main-thema-color: $color-primary;
$main-border-color: var(--main-border-color);

$shadow-theme-color: var(--shadow-theme-color);
$additional-text-collor: var(--additional-text-collor);
$additional-text-font-size: 18px;

$temperature-type-content: '℃';

$preloader-main-color: $color-primary-accent;
$preloader-additional-color: var(--preloader-additional-color);

$hover-item-color: var(--hover-item-color);
