// colors
$primary: rgba(173, 216, 230, 0.5);
$secondary: rgba(128, 128, 128, 1);
$tertiary: rgba(255, 165, 0, 0.5);

//height
$headerHeight: 6.25em;
$footerHeight: 6.25em;
$filterableListHeight: 48em;

//width
$filterableListWidth: 12em;
