// colors
$primary: rgba(173, 216, 230, 0.5);
$secondary: rgba(128, 128, 128, 1);
$tertiary: rgba(255, 165, 0, 0.5);
$error: rgba(255, 140, 75, 0.5);
$lightYellow: rgba(233, 245, 66, 0.3);

//height
$primaryHeight: 6.25em;
$doubleHeight: 2 * $primaryHeight;

//width
$primaryWidth: 12em;

//error
$errorWidth: 400px;
