@import '../../styles/variables.scss';

.container {
    margin: 40px auto;
    background-color: white;
    height: 30vh;
    width: 95%;
    overflow-y: scroll;
    border-radius: 0.5rem;
    padding: 0;
    position: absolute;
    top: 0;
    left: 2%;
    z-index: 2;

    .listElement {
        width: 100%;

        &:hover {
            background-color: $hovergrey;
        }

        .locationName {
            text-align: left;
            list-style: none;
            padding: 1rem 2rem;
            margin: 0 2rem;
            cursor: pointer;

            &.liCurrent {
                font-style: italic;
            }
        }
    }

    .previousSearches {
        text-align: left;
        list-style: none;
        margin: 0 2rem;
        font-style: italic;
        border-bottom: none;
        padding: 0.5rem 2rem 0 2rem;
    }

    &.dark {
        background-color: $footergrey;

        .listElement:hover {
            color: $lightgrey;
        }
    }
}