@import '../../scss';

.forecast-details {
  @include description;
  padding: 15px 0 0 $font-size * 1.3;
  color: $text-color;

  .detail {
    padding: 0 3px;
    position: relative;

    span {
      color: $text-color-dark;
      font-size: $font-size;
    }
  }

  .detail::before {
    content: '';
    width: $font-size;
    height: $font-size;
    position: absolute;
    left: -$font-size * 1.2;
    top: 0;
  }

  .cloudiness::before {
    background-image: url('../../images/cloud.png');
  }

  .precipProb::before {
    background-image: url('../../images/rain.png');
  }

  .relHumidity::before {
    background-image: url('../../images/humidity.png');
  }

  .windSpeed::before {
    background-image: url('../../images/wind.png');
  }

  .thunderProb::before {
    background-image: url('../../images/thunder.png');
  }

  .sunrise::before {
    background-image: url('../../images/sunrise.png');
  }

  .sunset::before {
    background-image: url('../../images/sunset.png');
  }
}
