.prevPage {
  font-size: 24px;
  cursor: pointer;
}
.prevPage:before {
  content: '<-';
  margin-right: 10px;
  display: inline;
}
.CityDetailsWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.city {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.cityLarge {
  margin-bottom: 30px;
  zoom: 1.4;
  width: 50%;
}
.symbol {
  margin-right: 20px;
  height: 70px;
}
.h2 {
  margin-top: 10px;
  width: 100%;
  margin: 20px 0;
  font-size: 36px;
}
.h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 26px;
}
.h4 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
}
.list {
  margin-left: 20px;
}
.list li {
  margin-top: 6px;
}
.list li b {
  font-size: 18px;
}
.list li:first-child {
  margin-top: 0;
}
