// common
@import './common/variables';
// helpers
@import './helpers/inputs';
@import './helpers/buttons';
@import './helpers/dropdown';
@import './helpers/card';
@import './helpers/card-list';

// components
@import './components/App';
@import './components/Home';
@import './components/About';

html {
  min-height: $height-default;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  height: $height-default;
}

#app {
  height: inherit;
}
