@import '../../assets/styles/constants/main.scss';

.carousel-wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;

  .carousel {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    width: 60vw;
    align-items: center;
    width: 100%;

    .carousel-items {
      display: flex;
    }
  }

  &[data-overflowing='false'] {
    button {
      display: none;
    }

    .carousel {
      width: 65vw;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -50px;
    height: 50px;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    border: 0;
    z-index: 1;
    font-size: 34px;
    background-color: $primary-bg-color;
    color: $arrow-btn-color;
    cursor: pointer;
    outline: none;
    transition: font-size $default-transition-delay ease;

    &:hover {
      color: $hover-arrow-btn-color;
      font-size: 40px;
    }

    &:first-child {
      right: auto;
      left: -50px;
    }
  }
}
