@import '../../../../../../assets/styles/constants.scss';

.searchBarForm {
  .searchField {
    border: 1px solid $border-field-color;
    padding: 5px 5px 5px 25px;
    margin: 5px;
    &:focus {
      outline: 0;
    }

    background-image: url('../../../../../../assets/img/svg/icon-search.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left center;
  }
}
