@import '../../scss';

.card {
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &_header {
    .symbol {
      width: 100px;
    }

    &__info {
      margin-right: 20px;

      .title {
        @include primaryTitle;
      }

      .description {
        @include secondaryTitle;
        color: var(#{--text-color-secondary-default});
      }
    }
  }
}

.flexContainer {
  @include flex(center, flex-start);
}

@include media('max', 'md') {
  .card {
    &_header {
      .symbol {
        width: 80px;
      }

      &__info {
        .title {
          @include primaryTitle('md');
        }

        .description {
          @include secondaryTitle('md');
        }
      }
    }
  }
}
