@import '../../scss';

.card {
  border-radius: 20px;

  &_header {
    .symbol {
      width: 100px;
    }

    &__info {
      margin-right: 20px;

      .title {
        @include primaryTitle;
      }

      .description {
        @include secondaryTitle;
        color: var(#{--text-color-secondary-default});
      }
    }
  }
}

.flexContainer {
  @include flex(center, flex-start);
}
