.button button {
    padding: 10px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: absolute;
    bottom: 5vh;
    right: 5vw;
  font-size: 22pt;
  color: rgb(36, 35, 71);
  background-color: rgba(236, 194, 78, 0.842);
}

.button button:hover {
    background-color: rgba(236, 194, 78, 0.959);
    border-radius: 10px 0 10px 0;
}